<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about/about.css">
    <title>About me</title>
</head>
<body>
    <div class="container">
        <h1>Lorem Ipsum</h1>
        <h2>Programmer</h2>
        <div class="image">
            <img src="../static/images/bg-1.jpg">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat
            officia ipsum ex dolorum et doloribus rerum consequatur voluptatem totam
            qui, earum possimus ad molestias, ratione placeat ipsam sapiente labore?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat
            officia ipsum ex dolorum et doloribus rerum
        </p>
        <a href="{{url_for('index')}}" class="btn">BACK</a>
    </div>
</body>
</html>