<!-- <!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Clinic, for Animals, INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "../static/about/images/default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
    <section class="u-clearfix u-image u-valign-middle-lg u-section-1" id="carousel_6ea2" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-28 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-custom-font u-text u-text-palette-2-base u-text-1">Clinic</h1>
                <h1 class="u-text u-text-palette-4-base u-text-2"> for Animals</h1>
                <p class="u-text u-text-body-color u-text-3">As your local pet health expert, we hope that your family will rely on our team as your welcoming, skilled, and compassionate partner in care.</p>
                <a href="#contact_down" class="u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-1">contact us</a>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-32 u-image-1">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-dd36">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="content">
    
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="row mb-5">
                    <div class="col-md-4 mr-auto">
                      <h3 class="thin-heading mb-4">New York</h3>
                      <p>9757 Aspen Lane
        South Richmond Hill, NY 11419</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                      <h3 class="thin-heading mb-4">Contact Info</h3>
                      <p>T: +1 (291) 939 9321 <br> E: info@mywebsite.com</p>
                    </div>
                  </div>
        
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      
                      <h3 class="thin-heading mb-4" id="contact_down">Message Us</h3>
        
                      <form class="mb-5" method="post" id="contactForm" name="contactForm">
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                          </div>
                          <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 form-group">
                            <textarea class="form-control" name="message" id="message" cols="30" rows="2" placeholder="Write your message"></textarea>
                          </div>
                        </div>  
                        <div class="row">
                          <div class="col-12">
                            <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                          <span class="submitting"></span>
                          </div>
                        </div>
                      </form>
        
                      <div id="form-message-warning mt-4"></div> 
                      <div id="form-message-success">
                        Your message was sent, thank you!
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
      </div>
    </section>

    
  </body>
</html> -->

{% extends "layout.html" %}

{% block content %}
<section class="u-clearfix u-image u-valign-middle-lg u-section-1" id="carousel_6ea2" data-image-width="1920" data-image-height="1080">
  <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-28 u-layout-cell-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-custom-font u-text u-text-palette-2-base u-text-1">Clinic</h1>
            <h1 class="u-text u-text-palette-4-base u-text-2"> for Animals</h1>
            <p class="u-text u-text-body-color u-text-3">As your local pet health expert, we hope that your family will rely on our team as your welcoming, skilled, and compassionate partner in care.</p>
            <a href="#contact_down" class="u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-1">contact us</a>
          </div>
        </div>
        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-32 u-image-1">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="sec-dd36">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="content">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="row mb-5">
                <div class="col-md-4 mr-auto">
                  <h3 class="thin-heading mb-4">New York</h3>
                  <p>9757 Aspen Lane
    South Richmond Hill, NY 11419</p>
                </div>
                <div class="col-md-6 ml-auto">
                  <h3 class="thin-heading mb-4">Contact Info</h3>
                  <p>T: +1 (291) 939 9321 <br> E: info@mywebsite.com</p>
                </div>
              </div>
    
              <div class="row justify-content-center">
                <div class="col-md-12">
                  
                  <h3 class="thin-heading mb-4" id="contact_down">Message Us</h3>
    
                  <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                      </div>
                      <div class="col-md-6 form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <textarea class="form-control" name="message" id="message" cols="30" rows="2" placeholder="Write your message"></textarea>
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-12">
                        <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                      <span class="submitting"></span>
                      </div>
                    </div>
                  </form>
    
                  <div id="form-message-warning mt-4"></div> 
                  <div id="form-message-success">
                    Your message was sent, thank you!
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
  </div>
</section>
{% endblock %}